header{
	width: 100%;
	height: 2rem;
	background-color: #fafafa;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 0.24rem;
}
.head-first{
	width: 100%;
	height: 1rem;
	background-color: #fafafa;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 0.24rem;
}
.head-search{
	width: 100%;
	height: 1rem;
	background-color: #fafafa;
	position: fixed;
	top: 1rem;
	left: 0;
}
.head-select{
	width: 100%;
	height: 1rem;
	background-color: #fafafa;
	position: fixed;
	top: 2rem;
	left: 0;
}
.select1{
	width: 3.6rem;
	height: 1rem;
	float: left;
	position: relative;	
}
.select1 img:nth-child(2){
	width: 3.4rem;
	height: .04rem;
	position: absolute;
	bottom: .2rem;
	left: .2rem;
}
.select2{
	width: 3.6rem;
	height: 1rem;
	float: right;
}
footer{
	width: 100%;
	height: 1rem;
	background-color: #d4d4d4;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home{
	width: .5rem;
	height: .5rem;
}
main{
	position: absolute;
	left: 0;
	right: 0;
	top: 3rem;
	bottom: 1rem;
	background-color: #fafafa;
	overflow-y: scroll;
}
.head-item1{
	width: 1.2rem;
	height: .58em;
	float: left;
	margin-top: .21rem;
}
.head-item2{
	width: .44rem;
	height: .44rem;
	float: right;
	margin-top: .28rem;
	margin-left: .4rem;
}
.banner{
	width: 100%;
	height: 4.82rem;
}
.title{
	width: 100%;
	height: 1.26rem;
}
.content{
	width: 10rem;
}
.title-item1{
	width: 3rem;
	height: 4.56rem;
	padding-left: .15rem;
	float: left;
	margin-bottom: .5rem;
}
.title-item2{
	width: 3rem;
	height: 4.56rem;
	padding-left: .05rem;
	float: left;
}
.jian{
	width: 100%;
	height: 1rem;
	background-color: red; 
}
